*{
	padding: 0;
	margin: 0;
	}
div{
	
	}
.home{
	background: url(../images/worldmap.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	}

.home > div	> h1{
	color: red;
	}

.btn{	
	background-color: darkblue;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s
	}
.btn:hover {
	background-color: salmon;
	}

.greatwall{
	background: url(../images/worldmap.png);
	background-position: center;
	background-size: cover;
	text-align: top;
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;*/
	height: 100vh;

}

.greatwall > .left > div > h1{
	background-color: none;
	height: 10vh;
	width: 40vw;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	color: red;
	text-align: justify;
	padding: 20px;
}
.greatwall > .left > div > p{
	padding: 20px;
	background-color: none;
	height: 10vh;
	width: 40vw;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	color: red;
	/*text-align: justify;*/
	}

.greatwall > .right{
	background-color: none;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.greatwall > .right > div > div > img{
	border: 1px solid brown;
	}

.greatwall > .right > div > div > img:hover{
	transition: 2s;
	height: 500px;
	width: 500px;
	border-radius: 0%;
	
	}
.greatwall > .right > div > h1{
	color: red;
	}

.tajmahal{
	background: url(../images/worldmap.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.tajmahal > div > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid brown;

}

.tajmahal > div > img:hover{
	transition: 2s;
	height: 500px;
	width: 500px;
	border-radius: 50%;
}

.tajmahal > div > h1{
	color: blue;
}

.photos{
	background: url(../images/worldmap.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.photos > div > h1{
	color: Violet;
}
.photos > div > img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid brown;
}
.photos > div > img:hover {
	transition: 2s;
	height: 500px;
	width: 500px;
	border-radius: 0%;
}

.info {
	height: 50vh;
	display: flex;
}
input{
	display: block;
	border: 1px solid brown;
	/*margin: 10px auto;*/
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

.info > .left{
	background-color: none;
	height: 50vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info > .right{
	background-color: none;
	height: 50vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center{
	width: center;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: red;
}